boto3==1.24.2
botocore==1.27.2
click==8.1.3
Flask==2.1.2
flask_restx==0.5.1
pymongo==4.1.1
requests==2.27.1
Werkzeug==2.1.2
# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
gunicorn==20.1.0
flask_cors
pymongo[srv]
mongo_schema